:root {
  --font-roboto: 'Roboto Flex Variable', sans-serif;
  --font-oxygen: 'Oxygen', sans-serif;

  --shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #212121;
    --background: #f2f2f2;
    --primary: #c2ccb8;
    --secondary: #cad8d8;
    --accent: #11bf88;

    --static1: rgba(0, 0, 0, 0.1);
    --static2: rgba(0, 0, 0, 0.2);
    --static3: rgba(0, 0, 0, 0.3);
    --static4: rgba(0, 0, 0, 0.4);
    --static5: rgba(0, 0, 0, 0.5);
    --static6: rgba(0, 0, 0, 0.6);
    --static7: rgba(0, 0, 0, 0.7);
    --static8: rgba(0, 0, 0, 0.8);
    --static9: rgba(0, 0, 0, 0.9);

    --shadow-color: 180deg 15% 82%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #dedede;
    --background: #0d0d0d;
    --primary: #3d4733;
    --secondary: #273535;
    --accent: #1f8452;

    --static1: rgba(255, 255, 255, 0.1);
    --static2: rgba(255, 255, 255, 0.2);
    --static3: rgba(255, 255, 255, 0.3);
    --static4: rgba(255, 255, 255, 0.4);
    --static5: rgba(255, 255, 255, 0.5);
    --static6: rgba(255, 255, 255, 0.6);
    --static7: rgba(255, 255, 255, 0.7);
    --static8: rgba(255, 255, 255, 0.8);
    --static9: rgba(255, 255, 255, 0.9);

    --shadow-color: 180, 15%, 18%;
  }
}